<h2 class="page-header">Recently added</h2>
<div class="recent todos__container">
    <p class="subheader">Todos</p>
    <% todos.forEach(todo => { %>
        <div class="todo__card flex">
            <label >
                <input type="checkbox" class="check" >
                <%= todo.name %>
            </label>
            <div class="btn__container flex">
                <a href="/todos/<%= todo.id %>" class="btn btn--primary">View</a>
                <a href="/todos/<%= todo.id %>/edit" class="btn btn--primary">Edit</a>
                <%- include('./partials/deleteForm.ejs', { url: `/todos/${todo.id}` }) %>
            </div>
        </div>
    <% })  %>
</div>
<div class="recent notes__container">
    <p class="subheader">Notes</p>
    <% notes.forEach( note => { %>
        <a href="/notes/<%= note.id %>">
            <div class="note__card"><%= note.title %></div>
        </a>
    <% }) %>
</div>