<div>
  <label for="title">Title</label>
  <input type="text" name="title" id="title" value="<%= note.title %>">
</div>
<label for="tags">Tags</label>
<select name="tag" id="tag">
  <!-- <% // tags.forEach(tag => { %>
    <% // if (tag.id === note.tag) { %>
      <option selected label="<%= // tag.name %>" value="<%= // tag.id %>">
    <% // } else { %>
      <option selected label="<%= // tag.name %>" value="<%= // tag.id %>">
    <% // } %>
  <% // }) %> -->
</select>
<!-- <input type="text" name="title" value="<%= // note.title %>"> -->
<div>
  <label for="description">Description
    <textarea type="text" name="description" id="description">
      <%= note.description %>
    </textarea>
  </label>
</div>

<!-- TODO: implement Tags option to note (and todo) creation -->