<h2 class="page-header">Search Todos</h2>
<form action="/todos" method="GET">
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<h3>Todos</h3>
<ul>
    <% todos.forEach( todo => { %>
        <li class="todo__card">
            <label >
                <input type="checkbox" class="check" >
                <%= todo.name %>
            </label>
            <a href="/todos/<%= todo.id %>" class="btn">View</a>
            <a href="/todos/<%= todo.id %>/edit" class="btn">Edit</a>
            <%- include('../partials/deleteForm.ejs', { url: `/todos/${todo.id}` }) %>
        </li>
    <% }) %>
</ul>