<h2 class="page-header">Search Todos</h2>
<form class="search" action="/todos" method="GET">
    <label for="name">Name
      <input type="text" name="name" placeholder="Name" value="<%= searchOptions.name %>">
    </label>
    <button type="submit" class="btn btn--primary">Search</button>
</form>
<br>
<h3 class="subheader">Todos</h3>
<ul>
    <% todos.forEach( todo => { %>
        <div class="todo__card flex">
          <div class="checkbox-label__container flex">
            <input type="checkbox" class="check" name="<%= todo.name %>" id="<%= todo.id.slice(-4) %>" >
            <label for="<%= todo.id.slice(-4) %>"><%= todo.name %></label>
          </div>
            <div class="btn__container flex">
                <a href="/todos/<%= todo.id %>" class="btn btn--primary">View</a>
                <a href="/todos/<%= todo.id %>/edit" class="btn btn--primary">Edit</a>
                <%- include('../partials/deleteForm.ejs', { url: `/todos/${todo.id}` }) %>
            </div>
           
        </div>
    <% }) %>
</ul>